<div class="shop-container">
  <h1>Catálogo de Productos</h1>

  <div class="cards-container">
    <mat-card *ngFor="let producto of productos" class="product-card" (click)="openDetails(producto.id)">
      <img mat-card-image [src]="producto.imagen" alt="{{ producto.nombre }}">
      <mat-card-content>
        <h3>{{ producto.nombre }}</h3>
        <p>{{ producto.descripcion }}</p>
        <p><strong>Precio:</strong> S/. {{ producto.precio }}</p>
        <p><strong>Stock:</strong> {{ producto.stock }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
