.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profile-image img{
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 2px solid black;
  object-fit: cover;
  margin-bottom: 5rem;
}
.profile-text{
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  justify-content: center;
}
.profile-information{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
}
.language-switcher{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
}
.password-changer{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
}
.info-square{
  background-color: #f8f9fa;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  height: 10rem;
  width: 20rem;
}
.input-password{
  width: 5rem;
  height: 2rem;
  border-radius: 6px;
  border: none;
}
.toggle-button {
  background-color: darkgrey;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 2rem;
}
.toggle-button:hover {
  background-color: grey;
}
.change-button{
  height: 40px;
  width: 80px;
  background-color: darkgrey;
  color: white;
  border-radius: 5px;
  border: none;
  transition: background-color 0.2s ease;
}
.change-button:hover {
  background-color: grey;
  outline: none;
}
