<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-toolbar color="primary" class="sidenav-header">
      <span>PcPedia</span>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item
         *ngFor="let item of menuItems"
         [routerLink]="item.route"
         routerLinkActive="active">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </a>
    </mat-nav-list>

    <div class="footer">
      <p>© 2025 PcPedia</p>
      <p>Smart Solutions</p>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Aquí se renderiza el contenido del router -->
  </mat-sidenav-content>
</mat-sidenav-container>
